@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Hairline.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Fine.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Thin.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Light.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Regular.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Medium.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Bold.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-Black.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-HairlineItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-FineItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-ThinItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-LightItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-RegularItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-MediumItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-BoldItalic.otf');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-display: block;
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/StabilGroteskTrial/StabilGroteskTrial-BlackItalic.otf');
}
